<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/planners/index">Home</a>        
            </div>
            <a class="nav-item ml-auto" href="/logout"><button type="submit" class="btn btn-danger">Log out</button></a>
        </div>
    </nav>
   
   <div class="container-xl justify-content-center mt-2 pt-2">
        <div class="row justify-content-center m-5 p-5">
            <div class="col-md-10">  
                <h1 class="text-center">Editing <%=@table.title.capitalize%></h1>
                <%if Planner.all.empty?%>
                    <h1>You have no planners make one now!</h1>
                    <a href="/planners/new"><button type="submit" class="btn btn-success">New Planner</button></a>
                <%else%>
                    <table class="table my-5 py-5">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <%@table.heading.each do |heading|%>
                                    <th scope="col"><%=heading.strip.capitalize%></th>
                                <%end%>
                            </tr>
                        </thead>
                        <tbody>
                            <%if @table.row.empty?%>
                                <%nil%>
                            <%else%>
                                <%@table.row.each_with_index do |row_items, index|%>
                                    <tr>
                                        <th scope="row"><%=index%></th>
                                        <%row_items.each do |item|%>
                                            <td><%=item%></td>
                                        <%end%>
                                    </tr>
                                <%end%>
                            <%end%>
                        </tbody>
                    </table>
                <%end%>
                <form action="/planners/<%=@table.id%>" method="POST">
                    <div class="row">
                        <%@table.heading.each do |heading|%>
                            <div class="col">
                                <input type="hidden" id="hidden" name="_method" value="patch">
                                <input type="text" class="form-control" autocomplete="off" placeholder="<%=heading.capitalize%>" name="row[][]">
                            </div>
                        <%end%>
                        <button type="submit" class="btn btn-success">Add row</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>