<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/planners">Home</a>
                <a class="nav-link" href="/planners/new">New planner</a>  
            </div>
            <a class="nav-item ml-auto" href="/logout"><button type="submit" class="btn btn-danger">Log out</button></a>
        </div>
    </nav>
   
    <div class="container-xl justify-content-center mt-2 pt-2">
        <div class="row justify-content-center m-4 p-4">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <%if @tables.empty?%>
                            <h1>You have no planners make one now!</h1>
                            <a href="/planners/new"><button type="submit" class="btn btn-success">New Planner</button></a>
                        <%else%>
                            <%@tables.each do |t| %>
                                <table class="table mb-5 pb-5">
                                    <a class="nav-link text-dark"href="/planners/<%=t.id%>"><h2 id="<%=t.title.capitalize%>"><%=t.title.capitalize%></h2></a>
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <%t.heading.each do |heading|%>
                                                <th scope="col"><%=heading.strip.capitalize%></th>
                                            <%end%>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if t.row == nil%>
                                            <%nil%>
                                        <%else%>
                                            <%t.row.each_with_index do |row_items, index|%>
                                                <tr>
                                                    <th scope="row"><%=index + 1%></th>
                                                    <%row_items.each do |item|%>
                                                        <td><%=item.strip.capitalize%></td>
                                                    <%end%>
                                                </tr>
                                            <%end%>
                                        <%end%>
                                    </tbody>
                                </table>
                            <%end%>
                        <%end%>
                    </div>
                    <div class="col-md-2 justify-content-center">
                        <nav class="navbar sticky-top navbar-light">
                            <h4>Planners</h4>
                            <%if @tables.empty?%>
                                <p>None</p>
                            <%else%>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <%@tables.each do |t|%>
                                            <a class="nav-link text-dark" href="#<%=t.title.capitalize%>"><%=t.title.capitalize%></a>
                                        <%end%>
                                    </li>
                                </ul>
                            <%end%>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>